@font-face {
	font-family: PT Root;
	src: url(../ptroot.woff2)
}

body {
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
	line-height: 1.5;
	
	background-color: #000000;
	color: #ffffff;
}

div.waves {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	overflow: hidden;
	z-index: 1000002;
		background: linear-gradient(to bottom,
		#ffffff00 54%, #006bff 54% 85%, #000fff 85% );
}

div.waves div {
	display: flex;
}

div.waves div.wave-one {
	position: relative;
	top: 40px;
}

div.waves span {
	width: 150px;
	flex: 0 0 auto;
	display: inline-block;
}

div.wave-two span {
	width: 250px;
}

section {
	display: grid;
	grid-template-columns:1fr 1fr;
	min-height: 100vh;
	grid-auto-flow: dense;
}

section div.split {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

section div.split:first-child {
	background-color: #111111;
}

section div.slides {
	width: 500px;
	height: 750px;
	position: relative;
}

section div.slides div.quote {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 750px;
	color: #111111;
	box-shadow: 0 0 30px rgba(0,0,0,0.25);
}

section div.slides div.quote p {
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	padding: 10%;
}

section div.slides div.quote #first {
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
}

section div.quote p span {
	font-weight: bold;
	font-style: italic;
	display: contents;
}

h1 {
	font-family: 'Courgette', cursive;
	line-height: 1;
	font-size: 5rem;
	padding: 20% 10% 10% 10%;
}

section div.slides div.quote #first p {
	font-size: 0.7rem;

}
section div.info {
	max-width: 480px;
	padding: 32px;
}

section div.info p {
	font-family: 'Courgette', cursive;
	font-size: 2.5rem;
}



section h2 {
	font-family: 'Courgette', cursive;
	font-size: 2.5rem;
	line-height: 1.;
	color: #F5F1E4;
}

section.alternative div.split:first-child {
	grid-column: 2;
}

section.alternative div.split:last-child {
	grid-column: 1;
}




/* media */

@media (max-width: 1080px) {
	section {
		display: block;
	}

	section div.split {
		padding: 64px 0;	
	}
}

@media (max-width: 700px) {
	section div.slides, 
	section div.slides div.quote {
		width: 80vw;
		height: 120vw;
		font-size: 1rem;
	}

	section div.slides div.quote p {
		margin: 0;
	}
	h1 {
		font-size: 3rem;
	}
	.long-quote {
		font-size: 0.9rem;
	}
}